flows.json
[
    {
        "id": "cdc0d052595d2bb2",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9bd0cf676d0b0f18",
        "type": "ui_tab",
        "name": "画像認識アプリケーション",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "de7573bccb621794",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED ダッシュボード",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3d3fbbc17edbb807",
        "type": "ui_group",
        "name": "デフォルト",
        "tab": "9bd0cf676d0b0f18",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "253952e4cc60068d",
        "type": "cocossd",
        "z": "cdc0d052595d2bb2",
        "name": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "f34f53e408711af4",
                "b79c76e26856b0ac"
            ]
        ]
    },
    {
        "id": "f34f53e408711af4",
        "type": "ui_text",
        "z": "cdc0d052595d2bb2",
        "group": "3d3fbbc17edbb807",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "物体名",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "b79c76e26856b0ac",
        "type": "change",
        "z": "cdc0d052595d2bb2",
        "name": "日本語のノード名",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "annotatedInput",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "d11c6f4b73b94475"
            ]
        ]
    },
    {
        "id": "d11c6f4b73b94475",
        "type": "ui_webcam",
        "z": "cdc0d052595d2bb2",
        "name": "",
        "group": "3d3fbbc17edbb807",
        "order": 1,
        "width": 0,
        "height": 5,
        "countdown": false,
        "autoStart": false,
        "hideCaptureButton": false,
        "showImage": "2",
        "mirror": true,
        "format": "png",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "253952e4cc60068d"
            ]
        ]
    }
]